@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Peralta&display=swap');

::after, ::before, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root{
    --color-primary: rgb(241, 238, 238);
    --color-secondary: #333;
    --color-logo: rgb(231, 107, 58);
    --color-box-shadows: rgba(17, 2, 2, 0.103);
    --color-pure-white: #fff;
    --color-button: rgb(231, 107, 58);
    --color-links: rgb(37, 1, 1);
    --color-img-overlays: rgba(221, 221, 221, 0.89);
}

body {
    background: var(--color-primary);
    width: 100vw;
    overflow: hidden;
}

li {
    list-style-type: none;
}

button {
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: var(--color-button);
    color: var(--color-primary);
    cursor: pointer;
}

.left-side {
    height: 100vh;
    background-color: var(--color-pure-white);
    position: fixed;
    width: 17%;
    box-shadow: 0 -2px 5px 8px var(--color-box-shadows);
    z-index: 2;
}

/*Aligning div items inside the sidebar*/

.side-holder{
    position: relative;
    height: 100%;
}

.left-side .side-holder .side-content-holders{
    padding: 10px;
    width: 100%;
}

.left-side .side-holder .holder-1,
.left-side .side-holder .holder-3{
    position: absolute;
    padding: 25px 10px 0px;
    height: 30%;
}

.left-side .side-holder .holder-1 h1{
    color: var(--color-logo);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    font-family: peralta;
    font-size: 2.0rem;
}

/* The menu section on the left sidebar*/
.left-side .side-holder .holder-2{
    position: relative;
    top: 30%;
    height: 40%;
    overflow-y: scroll;
}

.left-side .side-holder .holder-2 nav{
    font-size: 0.8rem;
    margin-left: 30px;
    line-height: 2;  
}

.left-side .side-holder .holder-2 nav p{
    line-height: 2.5;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-side .side-holder .holder-2 nav p span{
    color: green;
    font-size: 1.5rem;
}

.left-side .side-holder .holder-2 nav ul li a{
    text-decoration: none;
    color: var(--color-links);
}

.left-side .side-holder .holder-2 nav ul li span{
    color: green;
    padding-left: 5px;
}

.left-side .side-holder .holder-2 button{
    display: block;
    margin: 25px auto;
    padding: 0.8em;
    font-size: 1em;
}

/*Editing the footer section on the left sidebar*/
.left-side .side-holder .holder-3{
    bottom: 0;
}

footer {
    height: 100%;
    display: grid;
    align-items: space-around;
}

footer a{
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--color-links);
    text-align: center;
}

footer .footer-more-button{
    background-color: var(--color-primary);
    margin: 5px auto;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}

footer .footer-more-button p{
    font-size: 1rem;
    padding: 0 20px;
    cursor: pointer;
}

footer .footer-links span{
    display: inline-block;
    position: relative;
    left: 10%;
    top: 25%;
    word-spacing: 2px;

}

/*Designing the modal element for the more button*/
.modal {
    height: 100vh;
    position: absolute;
    background-color: var(--color-primary);
    width: 17%;
    left: 0;
    z-index: 1;
    display: grid;
    padding: 8px 30px;
    transition: 500ms;
}

.modal .close-container{
    position: relative;
}

.modal .close-button {
    position: absolute;
    right: -10px;
    color: var(--color-primary);
    top: 0;
    font-size: 2.0rem;
    cursor: pointer;
    background-color: var(--color-button);
    padding: 0 8px;
    border-radius: 50%;
}

.modal a{
    text-decoration: none;
    font-size: .8rem;
    color: var(--color-links);
}


.modal h2{
    display: none;
}

/*Styling the header section and it's overlay*/
.recipe-header{
    width: 100%;
    height: 100vh;
    background-image: url('./img_folder/pexels-ella-olsson-1640777.jpg');
    background-size: cover;
    position: relative;
    border-radius: 0 0 29% 29%;
    z-index: -5;
}

.recipe-header .overlay{
    position: absolute;
    background-color: var(--color-img-overlays);
    width: 100%;
    height: 100vh;
    z-index: -4;
}

/*Styling header elements*/

.header-elements .form-design{
    background-color: var(--color-pure-white);
    display: flex;
    height: 30%;
    width: 35%;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    border-radius: 15px;
    margin-top: 2rem;
    box-shadow: var(--color-box-shadows);
    cursor: pointer;
}

.header-elements div section{
    color: var(--color-button);
    text-align: center;
    line-height: 2;
}

.header-elements{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
}

/*header elements buttons*/
.header-elements .carousel-btn{
    padding: 10px 25px;
}


/*Header search bar*/
.search-modal {
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    left: 0%;
    z-index: -1;
    display: grid;
    transition: 500ms;
}

.search-modal form {
    background: rgb(255, 255, 255);
    height: 65%;
    position: relative;
    left: 14%;
    width: 86%;
    padding: 2rem 6rem;
    display: grid;
    align-items: flex-end;
}

.search-modal form .search-bar{
    width: 50%;
    border: none;
    outline: none;
    box-shadow: 0 0 5px 5px var(--color-box-shadows);
    margin: 0 30%;
    display: flex;
    gap: 5px;
    padding: 0 20px;
    border-radius: 10px;

}

.search-modal form .search-bar input{
    outline: none;
    border: none;
    width: 80%;
}

.search-modal form div *{
    line-height: 2;
}

.search-modal form div .search-recent{
    margin: 0 10%;
    color: rgba(51, 51, 51, 0.466);
}

.search-modal form div .search-recent span{
    color: var(--color-links);
}

.search-modal form .more-search-details span{
    color: green;
}

.search-modal form button{
    display: inline;
}

.search-modal form .more-search-details{
    padding: 0 150px;
}

.main-container {
    position: absolute;
    left: 18%;
    width: 80%;
    z-index: -2;
}