@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Peralta&display=swap');

::after, ::before, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root{
    --color-primary: rgb(241, 238, 238);
    --color-secondary: #333;
    --color-logo: rgb(231, 107, 58);
    --color-box-shadows: rgba(17, 2, 2, 0.103);
    --color-pure-white: #fff;
    --color-button: rgb(231, 107, 58);
    --color-links: rgb(37, 1, 1);
}

body {
    background: var(--color-primary);
    width: 100vw;
}

li {
    list-style-type: none;
}

button {
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: var(--color-button);
    color: var(--color-primary);

}

.right-side {
    height: 100vh;
    background-color: var(--color-pure-white);
    position: fixed;
    width: 17%;
    box-shadow: 0 -2px 5px 8px var(--color-box-shadows);
}

/*Aligning div items inside the sidebar*/

.side-holder{
    position: relative;
    height: 100%;
}

.right-side .side-holder .side-content-holders{
    padding: 10px;
    width: 100%;
}

.right-side .side-holder .holder-1,
.right-side .side-holder .holder-3{
    position: absolute;
    padding: 25px 10px 0px;
    height: 30%;
}

.right-side .side-holder .holder-1 h1{
    color: var(--color-logo);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    font-family: peralta;
    font-size: 2.0rem;
}

/* The menu section on the left sidebar*/
.right-side .side-holder .holder-2{
    position: relative;
    top: 30%;
    height: 40%;
    overflow-y: scroll;
}

.right-side .side-holder .holder-2 nav{
    font-size: 0.8rem;
    margin-left: 30px;
    line-height: 2;  
}

.right-side .side-holder .holder-2 nav p{
    line-height: 2.5;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-side .side-holder .holder-2 nav p span{
    color: green;
    font-size: 1.5rem;
}

.right-side .side-holder .holder-2 nav ul li a{
    text-decoration: none;
    color: var(--color-links);
}

.right-side .side-holder .holder-2 nav ul li span{
    color: green;
    padding-left: 5px;
}

.right-side .side-holder .holder-2 button{
    display: block;
    margin: 25px auto;
    padding: 0.8em;
    font-size: 1em;
}

/*Editing the footer section on the right sidebar*/
.right-side .side-holder .holder-3{
    bottom: 0;
}

footer {
    height: 100%;
    display: grid;
    align-items: space-around;
}

footer a{
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--color-links);
    text-align: center;
}

footer .footer-more-button{
    background-color: var(--color-primary);
    margin: 5px auto;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}

footer .footer-more-button p{
    font-size: 1rem;
    padding: 0 20px;
    cursor: pointer;
}

footer .footer-links span{
    display: inline-block;
    position: relative;
    left: 10%;
    top: 25%;
    word-spacing: 2px;

}

/*Designing the modal element for the more button*/
.modal {
    height: 100vh;
    position: absolute;
    background-color: var(--color-primary);
    width: 17%;
    left: 0;
    box-shadow: 0 -2px 5px 8px var(--color-box-shadows);
    z-index: -1;
    display: grid;
    padding: 8px 30px;
    transition: 500ms ease-in;
}

.modal .close-container{
    position: relative;
}

.modal .close-button {
    position: absolute;
    right: -10px;
    color: var(--color-primary);
    top: 0;
    font-size: 2.0rem;
    cursor: pointer;
    background-color: var(--color-button);
    padding: 0 8px;
    border-radius: 50%;
}

.modal a{
    text-decoration: none;
    font-size: .8rem;
    color: var(--color-links);
}


.modal h2{
    display: none;
}


.main-container {
    position: absolute;
    left: 18%;
    width: 80%;
    z-index: -2;
}